html {
    background-color: #07071F;
    color: white;
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-title {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        margin-bottom: 40px;

        h1 {
            font-size: 4rem;
        }

        div {
            h2 {
                text-transform: uppercase;
                font-size: 2.5rem;
            }
        }
    }
}