* {
    margin: 0;
    padding: 0;
}

span {
    color: white;
}

hr {
    margin-right: 10px;
    width: 2px;
    border: none;
    background-color: #4372F1;
}

.SummonerDetails {
    padding: 0;
    margin: 0;
    color: #cddcfe;
    margin: 0 15%;
    margin-top: 100px;

    .summoner-details-container {
        display: flex;
        gap: 10px;
        .summoner-details-left {
            width: 30vw;

            h5 {
                font-size: 0.8rem;
                font-weight: 500;
            }

            .ChampionStats {
                margin-top: 20px;
                background-color: #191935;
                border-radius: 5px;
            }

            .champions-stats-title {
                border-bottom: solid;
                border-color: #07071F;
                display: flex;
                justify-content: space-between;
                padding: 10px 10px;

                h4 {
                    color: white;
                    margin-right: auto;
                }

                select {
                    background-color: transparent;
                    color: white;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

            }
        }
        .summoner-details-right {
            width: 100%;
            padding: 10px;

            .summoner-match-history {

                .summoner-match-history-head {

                    .summoner-match-history-title {
                        display: flex;
                        justify-content: flex-end;
                        gap: 20px;
                        align-items: center;
        
                        div {
                            margin-right: auto;
                            display: flex;
                            gap: 10px;
                            color: white;
                        }
        
                        select {
                            background-color: transparent;
                            color: white;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }
        
                        input[type="search"] {
                            background-color: #191935;
                            border: none;
                            outline: none;
                            padding: 10px 20px;
                            color: #cddcfe;
                            border-radius: 5px;
                            width: 270px;
                        }
                    }

                    .summoner-match-history-subtitle {
                        background: #191935;
                        
                        .loading {
                            display: flex;
                            align-items: center;
                            height: 60vh;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

}

.summoner-profile {
    display: flex;
    gap: 20px;

    img {
        height: 100px;
        width: 100px;
        margin: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
            width: 100px;
        }
    }
}

.nav {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}